<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express Courier</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0= crossorigin="anonymous"></script>
<style>
body {
	color: black;
	background: #63738a;
	font-family: 'Roboto', sans-serif;
}
</style>
</head>

<body>
    <div class="container">
        <hr>
        <h1>Shipments List</h1>
		
        <hr>
		<div>
			<button id="create" type="button" class="btn btn-success" data-toggle="modal" 
                            data-target="#createShipmentModal" >
                            Create Shipment
            </button>
			<button id="logout" type="button" onClick="logout()" class="btn btn-warning" style="float:right">Logout</button>
		</div>
        <div>
            <div class="row" id="shipments"> <h3>No Shipments found.</h3>
            </div>
        </div>
    </div>
	
	<div id="createShipmentModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create Shipment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
							
							<div class="form-group">
                                <label for="exampleInputPassword1">User Email</label>
                                <input class="form-control" name="userEmail" id="userEmailC">
                            </div>
                
                            <div class="form-group">
                                <label for="exampleInputPassword1">From</label>
                                <input class="form-control" name="from" id="fromC">
                            </div>
                
                            <div class="form-group">
                                <label for="exampleInputPassword1">To</label>
                                <input class="form-control" name="to" id="toC">
                            </div>
                
                            <div class="form-group">
                                <label for="exampleInputPassword1">Status</label>
								<select class="form-control" name="shipstatus" id="shipstatusC">
								  <option value="new">New</option>
								  <option value="intransit">In Transit</option>
								  <option value="cancelled">Cancelled</option>
								  <option value="delivered">Delivered</option>
								</select>
                            </div>
                
                            <div class="form-group">
                                <label for="exampleInputPassword1">Type</label>
								<select class="form-control" name="type" id="typeC">
								  <option value="standard">Standard</option>
								  <option value="express">Express</option>
								  <option value="overnight">Overnight</option>
								</select>
                            </div>
                
                            <button onClick="submitCreateModal();" class="btn btn-primary">Submit</button>
							</br>
							<div id="createErrors" class="alert alert-danger" style="display:none"></div>
                </div>

            </div>
        </div>
    </div>
	
	
	
    <div id="editShipmentModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Shipment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                        
                            <div class="form-group">
                                <label for="exampleInputPassword1">Tracking Id</label>
                                <input class="form-control" name="id" id="id" disabled>
                            </div>
							
							<div class="form-group">
                                <label for="exampleInputPassword1">User Email</label>
                                <input class="form-control" name="userEmail" id="userEmail" disabled>
                            </div>
                
                            <div class="form-group">
                                <label for="exampleInputPassword1">From</label>
                                <input class="form-control" name="from" id="from">
                            </div>
                
                            <div class="form-group">
                                <label for="exampleInputPassword1">To</label>
                                <input class="form-control" name="to" id="to">
                            </div>
                
                            <div class="form-group">
                                <label for="exampleInputPassword1">Status</label>
								<select class="form-control" name="shipstatus" id="shipstatus">
								  <option value="new">New</option>
								  <option value="intransit">In Transit</option>
								  <option value="cancelled">Cancelled</option>
								  <option value="delivered">Delivered</option>
								</select>
                            </div>
                
                            <div class="form-group">
                                <label for="exampleInputPassword1">Type</label>
								<select class="form-control" name="type" id="type">
								  <option value="standard">Standard</option>
								  <option value="express">Express</option>
								  <option value="overnight">Overnight</option>
								</select>
                            </div>
                
                            <button onClick="submitEditModal();" class="btn btn-primary">Submit</button>
							</br>
							<div id="editErrors" class="alert alert-danger" style="display:none"></div>
                </div>
				
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="shipments.js"></script>
</body>

</html>